@page "/dateitresor"
@using BerichtsHeft.DataAccess
@using BerichtsHeft.Shared
@using System.Data
@inject NavigationManager NavigationManager

<PageTitle>Dateitresor</PageTitle>

<h4>Dateitresor</h4>
<h5>Anzahl Einträge: @(Db.GetActivitiyCount())</h5>

<div id="box">
	<input type="search" name="search" placeholder="Suche die Fächer" @bind-value="SubjectPattern">
	<div id="search"></div>
</div>
<div id="box">
	<input type="search" name="search" placeholder="Suche der HauptText" @bind-value="HauptTextPattern">
	<div id="search"></div>
</div>
<table class="table">
	<thead>
		<tr>
			<th>ID</th>
			<th>Date</th>
			<th>Typ</th>
			<th>HauptText</th>
			<th>DateBlock</th>
			<th>Dauert</th>
			<th>WochenTag</th>
			<th>Name</th>
			<th>Fach</th>
			<th>Löschen</th>
			<th>Veränden</th>
		</tr>
	</thead>
	<tbody>
			@foreach (DataRow row in Db.GetActivities(SubjectPattern,HauptTextPattern).Rows)
			{	
				
				string id = (string)row["ID"];
				DateTime dateTime = (DateTime)row["DateOfReport"];
				string abgebetype = (string)row["AbgabeType"];
				string haupttext = (string)row["HauptText"];
				int dauertmin = (int)row["Dauertmin"];
				int dateblock = (int)row["Dateblock"];
				string wochentag = (string)row["WochenTag"];
				string name = (string)row["Name"];
				string subject = (string)row["Fach"];
				<tr>
				<td>@id</td>
				<td>@dateTime</td>
				<td>@abgebetype</td>
				<td>@haupttext</td>
				<td>@dateblock</td>
				<td>@dauertmin</td>
				<td>@wochentag</td>
				<td>@name</td>
				<td>@subject</td>
				<td><button class="btn btn-danger" @onclick="(() => BerichtsHeft.DataAccess.Db.DeleteActivityTable(id))">löschen</button></td>
				<td><button class="btn btn-danger" @onclick="(() => Change(id))">veränden</button></td>
				</tr>
			}
	</tbody>
</table>
@code {
	public string SubjectPattern { get; set; }
	public string HauptTextPattern { get; set; }
	private void ShowDb()
	{
		BerichtsHeft.DataAccess.Db.SelectActivityTable();
	}
	public void Change(string id)
	{
		NavigationManager.NavigateTo($"activityform/{id}");
		//DateiInfo.Activities.Remove(activityChange);
	}
}
