@page "/dateitresor"
@using BerichtsHeft.Shared
@inject NavigationManager NavigationManager

<PageTitle>Dateitresor</PageTitle>

<h4>Dateitresor</h4>

<div id="box">
	<input type="search" name="search" placeholder="Search" @bind-value="SubjectPattern">
   <div id="search"></div>
</div>
<table class="table">
	<thead>
		<tr>
			<th>ID</th>
			<th>Date</th>
			<th>Typ</th>
			<th>HauptText</th>
			<th>DateBlock</th>
			<th>Dauert</th>
			<th>WochenTag</th>
			<th>Name</th>
			<th>Fach</th>
			<th>Löschen</th>
			<th>Veränden</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in DateiInfo.SearchDateiInfos(SubjectPattern))
		{
			<tr>
				<td>@item.ID</td>
				<td>@item.DateOfReport</td>
				<td>@item.AbgabeType</td>
				<td>@item.HauptText</td>
				<td>@item.DateBlock</td>
				<td>@item.Dauertmin</td>
				<td>@item.WochenTag</td>
				<td>@item.Name</td>
				<td>@item.Subject</td>
				<td><button class="btn btn-danger" @onclick="(() => DateiInfo.Delete(item))">löschen</button></td>
				<td><button class="btn btn-danger" @onclick="(() => Change(item))">veränden</button></td>
			</tr>
		}
	</tbody>
</table>
@code {
	public string SubjectPattern { get; set; }
	public  void Change(DateiInfo activityChange)
	{		
		NavigationManager.NavigateTo($"activityform/{activityChange.ID}");
		//DateiInfo.Activities.Remove(activityChange);
	}	
}
